<!doctype html>
<html>
<head>
{% load static %}
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, iniital-scale=1;">
<title>Chunaav</title>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

<!-- jQuery library -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

<!-- Latest compiled JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<link rel="stylesheet" type="text/css" href="{% static 'Vote/home.css' %}">
<style>
footer .glyphicon {
    font-size: 20px;
    margin-bottom: 20px;
    color: #f4511e;
}
.navbar-brand{
  float: none;
</style>
</head>
<body>
   <nav class="navbar navbar-default navbar-fixed-top">
     <div class="container-fluid">
       <div class=" navbar-header">
           <img src="{% static 'Vote/logo.jpg' %}" alt="some text" width=50 height=50>
           <a class="navbar-brand" href="#">Chunaav</a>
       </div>
      <ul class="nav navbar-nav">
       <li class="active"><a href="#">Zuhause</a></li>
       <li><a href="{% url 'Vote:vote' %}">Hilfe</a></li>
       <li><a href="{% url 'Vote:results' %}">Results</a> </li>
	   <li><a href ="{% url 'Vote:about' %}">About</a></li>
	   <li class="dropdown">
        <a class="dropdown-toggle" data-toggle="dropdown" href="#">German
        <span class="caret"></span></a>
        <ul class="dropdown-menu">
          <li><a href="{% url 'Vote:home_spanish' %}">Spanish</a></li>
          <li><a href="{% url 'Vote:home_hindi' %}">Hindi</a></li>
          <li><a href="{% url 'Vote:home' %}">English</a></li>

        </ul>
      </li>
       </ul>

        {% if user.is_authenticated %}
       <ul class="nav navbar-nav navbar-right">
       <li><a href="{% url 'Vote:logout' %}"><span class="glyphicon glyphicon-log-in"></span> Log Out</a></li>
       </ul>
         {% else %}
         <ul class="nav navbar-nav navbar-right">
        <li><a href="{% url 'Vote:login' %}"><span class="glyphicon glyphicon-log-in"></span>Anmeldung</a></li>
        </ul>
         {% endif %}
     </div>
    </nav>
   <div class="page-header bg-6">
     <h1 align="center" >Chunaav:die beliebteste Voting-Website zum Erstellen von Umfragen & </h1>
	 <h1 align="center">Koordination von Meetings</h1>
   </div>
   <!----row column---->
   <div class="row">
     <div class="col-lg-4" class="slideanim"><img src="{% static 'Vote/voting.jpeg' %}" class="img-thumbnail" ></div>
	 <div class="col-lg-8"><h4>Die Online-Voting-Website Doodle wurde 2007 in der Schweiz gegründet und wurde bereits zwei Jahre später in der Kategorie Web Services & Applications der 13. Annual Webby Awards zu einem der Besten gewählt.Zudem erfreut Doodle Millionen von Nutzern seit geraumer Zeit: Die Voting-Website hat im Oktober 2011 die Marke von 10 Millionen Nutzern überschritten und im Januar 2013 die Marke von 15 Millionen Nutzern überschritten. Die bloße Popularität dieser Voting-Website beweist, dass sie eine <strong>Toller Service, der einfach zu bedienen ist</strong> and at the right price – free! – which ensures that happy users keep returning.
     </h4></div>
	</div>
    <div class="row bg-5" >
     <div class="col-lg-8" class="slideanim"><h2> Was macht diese Website so besonders?</h2>
      <h4>Doodle beschränkt nicht die Anzahl der Umfragen, die Sie erstellen können. Im Gegensatz zu den meisten Voting-Websites können Sie den kostenlosen Dienst so oft nutzen, wie Sie möchten. Es ist eine schnelle und einfache Möglichkeit, RSVPs für eine Party zu organisieren oder Ihre Kollegen darüber abstimmen zu lassen, wo die nächste Party stattfinden soll.
         </br></br>Doodle hat ein sehr minimalistisches, benutzerfreundliches Design. Wenn Sie sich für einen Premium-Account anmelden, können Sie die Voting-Website-Vorlage leicht ändern, aber der grundlegende Informationsfluss und das Layout der Online-Voting-Abstimmung bleiben unverändert. </br></br>Es gibt keinen Aufwand, keine Aufregung und keine langwierigen Schritte, die Sie auffordern, Informationen auszufüllen. In der Tat müssen Sie sich nicht einmal für ein Konto anmelden (das auch kostenlos ist). Diese Abstimmungswebsite benötigt keine Handynummer, speichert Ihre E-Mail-Adresse nicht für den Versand von Newslettern und verkauft Ihre Kontaktinformationen niemals an Drittanbieter.
	   </h4></div>
	    <div class="col-lg-4"><img src="{% static 'Vote/e_vote.jpg' %}" class="img-thumbnail" ></div>
	  </div>
	  </div>
	  <div class="row">
		<div class="col-lg-12" align="center"><h2>Wählen Sie nur einen Klick entfernt</h2>
		<h4 align="center">Doodle bietet zusätzliche Funktionen wie den kostenlosen MeetMe-Service, der ein Kontaktcenter für die Koordination von Besprechungen ist. Es gibt auch eine mobile Anwendung, so dass Sie, wenn Sie unterwegs sind, nicht die Voting-Website in Ihrem Browser aufrufen müssen, sondern einfach die App öffnen und Ihre Stimme abgeben oder einen Termin innerhalb von Sekunden planen. Es ist so einfach zu bedienen und kostet nichts: also warum nicht Doodle einen Versuch für Ihre nächste Umfrage oder Fragebogen?
		</h4><br>
        <a href="{% url 'Vote:vote' %}"><button type="button" class="btn btn-basic">Abstimmung erstellen</button><br><br></a>
		</div>
	   </div>

		 <br>
		 <br>


<script>
$(document).ready(function(){
    $('[data-toggle="popover"]').popover();
});
</script>
	<div class="container-fluid bg-4">
  <h2 class="text-center">CONTACT</h2>
  <div class="row row2">
    <div class="col-sm-5">
      <p>Contact us and we'll get back to you within 24 hours.</p>
      <p><span class="glyphicon glyphicon-map-marker"></span> BML Munjal Univeristy</p>
      <p><span class="glyphicon glyphicon-phone"></span> +91 9953918594</p>
      <p><span class="glyphicon glyphicon-envelope"></span> abhinavchopra22@gmail.com</p>
    </div>
    <div class="col-sm-7">
      <div class="row row2">
        <div class="col-sm-6 form-group">
          <input class="form-control" id="name" name="name" placeholder="Name" type="text" required>
        </div>
        <div class="col-sm-6 form-group">
          <input class="form-control" id="email" name="email" placeholder="Email" type="email" required>
        </div>
      </div>
      <textarea class="form-control" id="comments" name="comments" placeholder="Comment" rows="5"></textarea><br>
      <div class="row row2">
        <div class="col-sm-12 form-group">
          <button class="btn btn-default pull-right" type="submit">Send</button>
        </div>
      </div>
    </div>
  </div>

<footer class="container-fluid  bg-4 text-center">
  <a href="#myPage" title="To Top">
    <span class="glyphicon glyphicon-chevron-up"></span>
  </a>
  <p>MADE WITH SKILL! NOT LOVE.</a></p>
</footer>

</div>
</body>
</html>
