<!doctype html>
<html>
<head>
{% load static %}
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, iniital-scale=1;">
<title>Chunaav</title>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

<!-- jQuery library -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

<!-- Latest compiled JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<link rel="stylesheet" type="text/css" href="{% static 'Vote/home.css' %}">
<style>
footer .glyphicon {
    font-size: 20px;
    margin-bottom: 20px;
    color: #f4511e;
}
.navbar-brand{
  float: none;
</style>
</head>
<body>
   <nav class="navbar navbar-default navbar-fixed-top">
     <div class="container-fluid">
       <div class=" navbar-header">
           <img src="{% static 'Vote/logo.jpg' %}" alt="some text" width=50 height=50>
           <a class="navbar-brand" href="#">Chunaav</a>
       </div>
      <ul class="nav navbar-nav">
       <li class="active"><a href="#">Casa</a></li>
       <li><a href="{% url 'Vote:vote' %}">Votar</a></li>
       <li><a href="{% url 'Vote:results' %}">Ayuda</a> </li>
	   <li><a href ="{% url 'Vote:about' %}">Enviar</a></li>
	   <li class="dropdown">
        <a class="dropdown-toggle" data-toggle="dropdown" href="#">Spanish
        <span class="caret"></span></a>
        <ul class="dropdown-menu">
          <li><a href="{% url 'Vote:home_german' %}">German</a></li>
          <li><a href="{% url 'Vote:home_hindi' %}">Hindi</a></li>
          <li><a href="{% url 'Vote:home' %}">English</a></li>

        </ul>
      </li>
       </ul>

        {% if user.is_authenticated %}
       <ul class="nav navbar-nav navbar-right">
       <li><a href="{% url 'Vote:logout' %}"><span class="glyphicon glyphicon-log-in"></span> Log Out</a></li>
       </ul>
         {% else %}
         <ul class="nav navbar-nav navbar-right">
        <li><a href="{% url 'Vote:login' %}"><span class="glyphicon glyphicon-log-in"></span>Iniciar sesión</a></li>
        </ul>
         {% endif %}
     </div>
    </nav>
   <div class="page-header bg-6">
     <h1 align="center" >Chunaav:Doodle: el sitio web de votación más popular para crear encuestas y</h1>
	 <h1 align="center">reuniones de coordinación</h1>
   </div>
   <!----row column---->
   <div class="row">
     <div class="col-lg-4" class="slideanim"><img src="{% static 'Vote/voting.jpeg' %}" class="img-thumbnail" ></div>
	 <div class="col-lg-8"><h4>El sitio web de votación en línea Doodle se fundó en Suiza en 2007 y solo dos años más tarde fue nombrado uno de los mejores en la categoría Servicios web y aplicaciones de la 13ª entrega anual de Webby Awards. Además, Doodle ha complacido a millones de usuarios durante bastante tiempo: el sitio web de votación superó los 10 millones de usuarios en octubre de 2011 y superó los 15 millones de usuarios en enero de 2013. La gran popularidad de este sitio web de votación demuestra que ofrece una <strong>gran servicio que es fácil de usar</strong> y al precio correcto - ¡gratis! - que asegura que los usuarios felices sigan regresando.
     </h4></div>
	</div>
    <div class="row bg-5" >
     <div class="col-lg-8" class="slideanim"><h2> ¿Qué hace que este sitio web sea tan especial?</h2>
      <h4>Chunaav no limita el número de encuestas que puedes crear. A diferencia de la gran mayoría de los sitios web de votación, puede continuar utilizando el servicio gratuito con la frecuencia que desee. Es una forma rápida y fácil de organizar las confirmaciones de asistencia para una fiesta o dejar que sus colegas emitan su voto sobre dónde se realizará la próxima fiesta de trabajo.
         </br></br>Chunaav tiene un diseño muy minimalista y fácil de usar. Si se registra para obtener una cuenta premium, puede modificar ligeramente la plantilla del sitio web de votación, pero el flujo básico de agregar información y el diseño de la boleta de votación en línea sigue siendo el mismo.<br><br>No hay problemas, ni problemas, ni largos pasos que le piden que complete la información. De hecho, ni siquiera tiene que registrarse para obtener una cuenta (que también es gratis). ¡Este sitio web de votación no necesita su número de teléfono móvil, no guarda su dirección de correo electrónico para enviar boletines informativos y nunca venderá su información de contacto a terceros anunciantes!
	   </h4></div>
	    <div class="col-lg-4"><img src="{% static 'Vote/e_vote.jpg' %}" class="img-thumbnail" ></div>
	  </div>
	  </div>
	  <div class="row">
		<div class="col-lg-12" align="center"><h2>Votar a un clic de distancia</h2>
		<h4 align="center">Chunaav tiene características adicionales, como el servicio gratuito MeetMe, que es un centro de contacto para coordinar reuniones. También hay una aplicación móvil, de modo que si está en movimiento, no tiene que abrir el sitio web de votación en su navegador, sino simplemente abrir la aplicación y emitir su voto o programar una cita en cuestión de segundos. Es tan fácil de usar y no cuesta nada: ¿por qué no probar Doodle para su próxima encuesta o cuestionario?
		</h4><br>
        <a href="{% url 'Vote:vote' %}"><button type="button" class="btn btn-basic">Abstimmung erstellen</button><br><br></a>
		</div>
	   </div>

		 <br>
		 <br>


<script>
$(document).ready(function(){
    $('[data-toggle="popover"]').popover();
});
</script>
	<div class="container-fluid bg-4">
  <h2 class="text-center">CONTACT</h2>
  <div class="row row2">
    <div class="col-sm-5">
      <p>Póngase en contacto con nosotros y nos pondremos en contacto con usted dentro de las 24 horas.</p>
      <p><span class="glyphicon glyphicon-map-marker"></span> BML Munjal Univeristy</p>
      <p><span class="glyphicon glyphicon-phone"></span> +91 9953918594</p>
      <p><span class="glyphicon glyphicon-envelope"></span> abhinavchopra22@gmail.com</p>
    </div>
    <div class="col-sm-7">
      <div class="row row2">
        <div class="col-sm-6 form-group">
          <input class="form-control" id="name" name="name" placeholder="Name" type="text" required>
        </div>
        <div class="col-sm-6 form-group">
          <input class="form-control" id="email" name="email" placeholder="Email" type="email" required>
        </div>
      </div>
      <textarea class="form-control" id="comments" name="comments" placeholder="Comment" rows="5"></textarea><br>
      <div class="row row2">
        <div class="col-sm-12 form-group">
          <button class="btn btn-default pull-right" type="submit">Send</button>
        </div>
      </div>
    </div>
  </div>

<footer class="container-fluid  bg-4 text-center">
  <a href="#myPage" title="To Top">
    <span class="glyphicon glyphicon-chevron-up"></span>
  </a>
  <p>MADE WITH SKILL! NOT LOVE.</a></p>
</footer>

</div>
</body>
</html>
