.page-header{
	padding-top: 35px;
	padding-bottom:20px;
	color:white;
	background-image:url("aeroplane2.jpeg");
}
.row{
	padding-top:50px;
	padding-bottom:50px;
	padding-left:30px;
	padding-right:30px;

}
.img-responsive{
	display:block;
	max-width:100%;
	height:auto;
}
.row2{
	padding-top:0px;
	padding-bottom:0px;
	padding-left:0px;
	padding-right:0px;
}
.bg-4 {
    background-color: #2f2f2f;
    color: #ffffff;
	margin-top:20px;
	padding-top: 30px;
    padding-bottom: 30px;
}
.bg-5{
	background-image   :url("silver.jpg");
}
.bg-10{
	background-image   :url("silver.jpg");
}
.bg-6{
	background-image   :url("demo.jpg");
	color:#0c0c00;
}
body {
    font: 400 15px Lato, sans-serif;
    line-height: 1.8;
    color: #585555;
	font-family: courier new, sans-serif;
}

.jumbotron {
    font-family: courier new, sans-serif;
}

.navbar {
    font-family: courier new, sans-serif;
}
.logoq {
	margin-right: 1em;
}
.btn1 {
	background: #98cdf0;
	background-image: -webkit-linear-gradient(top, #98cdf0, #6bc6ff);
	background-image: -moz-linear-gradient(top, #98cdf0, #6bc6ff);
	background-image: -ms-linear-gradient(top, #98cdf0, #6bc6ff);
	background-image: -o-linear-gradient(top, #98cdf0, #6bc6ff);
	background-image: linear-gradient(to bottom, #98cdf0, #6bc6ff);
	-webkit-border-radius: 28;
	-moz-border-radius: 28;
	border-radius: 28px;
	font-family: Arial;
	color: #ffffff;
	font-size: 20px;
	padding: 10px 20px 10px 20px;
	text-decoration: none;
  }

  .btn1:hover {
	background: #3cb0fd;
	background-image: -webkit-linear-gradient(top, #3cb0fd, #3498db);
	background-image: -moz-linear-gradient(top, #3cb0fd, #3498db);
	background-image: -ms-linear-gradient(top, #3cb0fd, #3498db);
	background-image: -o-linear-gradient(top, #3cb0fd, #3498db);
	background-image: linear-gradient(to bottom, #3cb0fd, #3498db);
	text-decoration: none;
  }
